mixin restaurants()
	section.restaurants
		.container
			section.restaurants__inner.contant-head
				h2 Feature Restaurants
			section.restaurants__wrapper 
				.restaurants__restaurant-section
					.restaurants__img-responsive.img
						img(src="img/fish.png", alt="Fish & Chips")
					.restaurants__title
						h3 fish &#38; chips gallore!
					p Since 1968, Fish &#38; Chips Gallore! has served the bay area with its palatable array of fried fish and sailor's choice dessert.
					p Order today and recieve 15% your total meal and we'll throw in our famous hush puppies as a thank you.
				.restaurants__restaurant-section
					.restaurants__img-responsive.img
						img(src="img/burger.png", alt="Bubba Joe`s")
					.restaurants__title
						h3 bubba joe&#39;s
					p When you actually, really desire a burger, you order from Bubba Joe's. Unlike the fast food business, we eat our own food and love it.
					p Order 2 burgers and get a small fry on us today.
				.restaurants__restaurant-section
					.restaurants__img-responsive.img
						img(src="img/dessert.png", alt="Awww yeah Dessert")
					.restaurants__title
						h3 awww yeah Desserts
					p Welcome to your favorite part of dinner, lunch, breakfast, brunch, any meal. We know you don't need encouragement from us to eat our desserts. Look at the picture. You know you want it.
					p Just for you, we'll knock off 10% to make your wallet feel good too.

