extends main.pug

include ../blocks/header/header.pug

include ../blocks/main_content/main_content.pug

include ../blocks/footer/footer.pug



block title
	title projeccz

block pagecontent

	+header()

	+main_content()
	
	+footer()