mixin your_city()
	section.your-city
		.container
			section.your-city__inner
				h3.your-city__title Find the nearest city
				p Fill out the form below with your zip code of where you live.
				form.your-city__form
					input.your-city__input-zipcode(type="text"  placeholder="Zipcode" maxlenght="5")
					button.your-city__zipcode-button(type="submit") Go