extends main.pug

include ../blocks/header/header.pug

include ../blocks/main_content/main_content.pug

include ../blocks/how_it_works/how_it_works.pug

include ../blocks/restaurants/restaurants.pug

include ../blocks/footer/footer.pug



block title
	title projeccz

block pagecontent
	.wrapper
		+header()
		main.main
		
			+main_content()

			+how_it_works()

			+restaurants()
		
		+footer()