mixin header()
	header.header
		.container 
			nav.menu
				img(src="img/logo.png", alt="logo")
				ul.menu__list
					li.menu__list-item 
						a.menu__list-link(href="../../FoodarSingIn/app/index.html") Sing-In
					
					li.menu__list-item 
						a.menu__list-link(href="../../FoodarRegistrer/app/registrer.html") Registrer
					
					li.menu__list-item 
						a.menu__list-link(href="../../FoodarRequest/app/index.html") Request
