mixin how_it_works()
  section.how-it-works
    .container
      section.how-it-works__inner.contant-head
        h2 how it works
      section.how-it-works__wrapper 
        .how-it-works__img.img-responsive 
            img(src="img/menu.png", alt="menu")
        .how-it-works__info
          p <span class="how-it-works__info-txt-bold">The process is simple.</span>We deliver whatever food you order from our partner restaurants. We provide an experience to our patrons with utmost courtesy and hospitality. Try out Foodar today!
          ol.how-it-works__ol-list
            li Order your food
            li Find a driver
            li Place pickup request
          a.how-it-works__btn-link(href="#") Read More
