mixin footer()
	footer.footer 
		section.footer__content 
			.container 
				.footer__inner 
					nav.footer__siteMap.footer__nav
						h3.footer__title Site Map
						ul.footer__siteMap-list.footer__list
							li.footer__siteMap-item.footer__item
								a.footer__siteMap-link(href="#") Home
							li.footer__siteMap-item.footer__item
								a.footer__siteMap-link(href="#") Register
							li.footer__siteMap-item.footer__item
								a.footer__siteMap-link(href="#") How it works
					section.footer__menu.footer__nav
						h3.footer__title Legal
						ul.footer__menu-list.footer__list
							li.footer__menu-item.footer__item Privacy Policy
							li.footer__menu-item.footer__item Terms &#38; Conditions
					section.footer__social.footer__nav
						h3.footer__title Social
						ul.footer__social-list.footer__list
							li.footer__social-item.footer__item
								a.footer__social-link(href="https://github.com/illiasoroka" target="_blank") 
									img(src="img/icons/github.svg", alt="GitHub")
							li.footer__social-item.footer__item
								a.footer__social-link(href="https://www.linkedin.com/in/illia-soroka-224952186/"  target="_blank") 
									img(src="img/icons/linkedin.svg", class="linkedin", alt="linkedin")
							li.footer__social-item.footer__item
								a.footer__social-link(href="https://www.instagram.com/ilysha_soroka/" target="_blank") 
									img(src="img/icons/instagram.svg", alt="FaceBook")

		section.footer__copyright
			.container
				p.footer__copyright-copy &copy; 2022. All rights reserved
				p.footer__copyright-version Version 1.0.9
	

